doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='A sidebar menu as seen on the Google Nexus 7 website')
  meta(name='keywords' content='google nexus 7 menu, css transitions, sidebar, side menu, slide out menu')
  meta(name='author' content='Codrops')
  link(rel='shortcut icon' href='../favicon.ico')
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")    
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js") 
    //-   style
    //-     include style1.css   
  style
    include main_table_delete.css
  style
    include util_table.css
  style
    include component.css
  style
    include demo.css
  style
    include normalize.css
  style
    include style.css
  style
    include style1.css
  script
    include ../Js/modernizr.custom.js

body
.container
    ul#gn-menu.gn-menu-main
        li.gn-trigger
            a.gn-icon.gn-icon-menu
                span Menu
            nav.gn-menu-wrapper
                .gn-scroller
                    ul.gn-menu
                        li
                            a(href='/neworders')
                                img.ico_n(src='new-orders.png ')
                                | Create New Orders
                        li
                             a(href='/pendingorders')
                                img.ico_n(src='delivered.png')
                                | Pending Orders
                        li
                            a(href='/delivered')
                                img.ico_n(src='par-delivered.png ')
                                | Delivered Orders
                        li
                            a(href='/delete_orders')
                                img.ico_n(src='delete.png ')
                                | Delete Orders
                        li
                            a(href='logout')
                                img.ico(src='logout.png')
                                | Logout                    
        // /gn-scroller

        li
            form(class="form-inline my-2 my-lg-0 search")
                input(class="form-control mr-sm-2 box-search" type="search" id="search" onkeyup="myFunction()" placeholder="Search.." title="Type in a name")
                //- input(class="form-control mr-sm-2 box-search" type="search" placeholder="Search" aria-label="Search")
                button(class="btn btn-outline-success btn-search my-2 my-sm-0" type="submit") Search

        .limiter
            .container-table100
                .wrap-table100
                    .table100
                        table
                            thead
                                tr.table100-head
                                    th.column1 NUMBER
                                    th.column2 CLIENTS
                                    th.column3 VENDORS
                                    th.column4 ITEM
                                    th.column5 QUANTITY
                                    th.column6 EXPECTED DELIVERY DATE
                                    th.column7 ADDRESS
                                    th.column8 ORDER-STATUS
                                    th.column9 REMOVE



                                    -var counter = 0
                            each item in orderdetails
                                if( (item.order_status=="PARTIALLY_PENDING"||item.quantity==0||item.order_status=="PENDING") && item.flag ==false )    
                                    -var CLIENT = item.client;
                                    -var VENDOR = item.vendor;
                                    -var ITEM= item.item;
                                    -var QUANTITY=item.quantity;
                                    -var PROPERTY_ADDRESS=item.property_address;
                                    -var ORDER_STATUS = item.order_status;
                                    -var ID =item.order_id;
                                    -var ex_del = item.expected_delivery_date;
                                    -var number= ID + "P"
                                    -counter++;
                                                tbody
                                                tr
                                                    th(scope="row" class="num")=counter
                                                      td=CLIENT   
                                                      td=VENDOR
                                                      td=ITEM
                                                      td=QUANTITY
                                                      td=ex_del
                                                      td=PROPERTY_ADDRESS
                                                      td=ORDER_STATUS
                                                      td 
                                                          button(class="btn btn-primary" ,type="submit",  onclick="" ,id=ID)  REMOVE 

            script
                include ../Js/classie.js
                include ../Js/gnmenu.js
                include ../Js/temp.js
                include ../Js/deleteorders.js
                include ../Js/search.js